.CodeMirror {
  height: 400px;
  width:700px;
  height: auto;
   font:"Lucida Console";
}

body{    line-height: 1em;
    font-size:1.1em;}

#samples .queriesCarouselle ul li{padding:0px;font="Lucida Console"}

h3 {padding:0;display:none}
.row {margin:0}
.breadcrumb {padding:0px;margin-bottom:0}

.nav-tabs {font-size:10px;font-weight:bold;}

#samples div div ul li.selectSample  {top:0px!important;height:30px!important;width:auto!important}

#samples .prev {vertical-align:0!important}

#samples .next {vertical-align:0!important}

#samples br+div {display:none}

#samples div:first-child  {line-height:.1!important}
